
*{
    padding: 0;
    margin: 0 0 0 0;
  }
  
  .mainpage{
    padding: 0;
    width:100vw;
    height:750px;
    background-color: blue;
   background-image: url(/Travel_Tour/assets/images/mountains.avif);
   background-size:100vw 750px;
   /* background-size: cover; */
  }
  
  .navbar-space{
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  }
  
    
  .maincontent{
    margin-top: 150px;
    margin-left: 150px;
    width: 600px;
    max-width: 500px;
    height: 200px;
    font-weight: 700;
    font-size: 50px;
    color: #ffff;
  }
  .submit{
    margin-left: 150px;
    width: 600px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .submit button{
     width: 50px;
     height: 25px;
     border-radius: 5px;
     background-color: #DF6951;
      color:  #FFFFFF;
      border: none;
      cursor: pointer;
    }
  
    .mainfooter{
      width: 100vw;
      height: 80px;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
   
.servicesmain{
    opacity: 0.5;
}
.servicesbox{
    position: relative;
    width: 500px;
    height: 650px;
    border-radius: 10px;
    background-color:antiquewhite;
    margin-top: -700px;
    margin-left: 500px;
    opacity: 1;
    text-align: center;
}

.serviceselect input{
    margin: 10px;
}
.checkboxinput{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.servicesbox button{
  margin-top: 20px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #DF6951;
    color:  #FFFFFF;
    cursor: pointer;
}